-# navigation styled for Bootstrap 3.0
%div.container-fluid.bg_image
  .container
    %h2.page_heading
      FINALIZE YOUR INVESTMENT
  .container.bg_color
    .first_step
      %img{alt: "", src: "/assets/step1.jpg"}/
      %h4.heading Thank your for Investing via AlumVest
      .border_part
      %p.heading_text
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .step_heading_bg
    .step_heading Step 1
    .step_bg
      %h4.step_heading_part Verify Your Accredited Investor Status
      .step_action_sign.green
        %span.glyphicon.glyphicon-ok.form-control-feedback
      .border_part
      .steps_detail_part
        %p.step_detaile_part It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use
        .step_btn
          %button.btn.btn-primary.btn-lg Start
      .border_part.margin_bottom
      %p.steps_status_text.action1 Pending
    .step_heading_bg
    .step_heading Step 2
    .step_bg
      %h4.step_heading_part Choose your Investment Amount & Payment Method & transfer funds into escrow
      .step_action_sign.gray
        %span.glyphicon.glyphicon-ok.form-control-feedback
      .border_part
      .steps_detail_part
        %p.step_detaile_part It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use
        .step_btn
          %button.btn.btn-success.btn-lg Complete
      .border_part.margin_bottom
      %p.steps_status_text.action2 Complete
    .step_heading_bg
    .step_heading Step 3
    .step_bg
      %h4.step_heading_part Sign your Investment Documents
      .step_action_sign.green
        %span.glyphicon.glyphicon-ok.form-control-feedback
      .border_part
      .steps_detail_part
        %p.step_detaile_part It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        .step_btn
          %button.btn.btn-primary.btn-lg Start
      .border_part.margin_bottom
      %p.steps_status_text.action1 Pending
  .container
    .step_action_bg
    %a{href: "#"}
      %span.step_action_heading REVIEW AND SUBMIT
