.container-fluid.footer_clents_list
  .container
    %h4 Featured in
    .feature_image_part
      %img.img-responsive{onmouseout: "this.src='/assets/logo1.png'", onmouseover: "this.src='/assets/logo1_hover.png'", src: "/assets/logo1.png"}/
    .feature_image_part
      %img.img-responsive{onmouseout: "this.src='/assets/logo2.png'", onmouseover: "this.src='/assets/logo2_hover.png'", src: "/assets/logo2.png"}/
    .feature_image_part
      %img.img-responsive{onmouseout: "this.src='/assets/logo3.png'", onmouseover: "this.src='/assets/logo3_hover.png'", src: "/assets/logo3.png"}/
    .feature_image_part
      %img.img-responsive{onmouseout: "this.src='/assets/logo4.png'", onmouseover: "this.src='/assets/logo4_hover.png'", src: "/assets/logo4.png"}/
.modal-footer
  .container
    .footer_menu
      %ul
        %li
          %a{href: "#"} Home
        %li
          %a{href: "#"} About Us
        %li
          %a{href: "#"} How it Works?
        %li
          %a{href: "#"} Terms & Conditions
        %li
          %a{href: "#"} Faq
        %li
          %a{href: "#"} Blog
        %li.border-none
          %a{href: "#"} Contact Us
    .footer_social_part
      Follow us on :
      %a{href: "#"}
        %img{alt: "", src: "/assets/twitter_icon.jpg"}/
      %a{href: "#"}
        %img{alt: "", src: "/assets/facebook_icon.jpg"}/
      %a{href: "#"}
        %img{alt: "", src: "/assets/linkdin_icon.jpg"}/
    .footer_border
    .footer_left_text All rights reserved by, website.com
    .footer_right_part
      %img{alt: "", src: "/assets/footer_logo.jpg"}/